
/* CSS til login side */

#borderInside {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 8px;

}

#backBorder {
    -fx-background-color: #DAE4EA;
}

#hBoxTop, #vBoxLeft, #hBoxBottom, #vBoxRight {
    -fx-background-color: #DAE4EA;
}
#btnSubmitAdmin, #btnSubmitEvent {
    -fx-background-color: #108CDC;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, rgb(54, 48, 98), 10, 0, 0, 0);
}

#lblstatus {
    -fx-background-color: #FBBB2C;
    -fx-text-fill: white 20714310;
    -fx-alignment: Center;
    -fx-font-size: 16px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgb(54, 48, 98), 10, 0, 0, 0);
}

#lblAdmin {

    -fx-text-fill: black;
    -fx-alignment: Center;
    -fx-font-size: 16px;
    -fx-font-weight: 700;

}

#lblUser {

    -fx-text-fill: black;
    -fx-alignment: Center;
    -fx-font-size: 16px;
    -fx-font-weight: 700;

}

.tab-pane {
    -fx-tab-max-height: 0px;

}

.tab-pane .tab-header-area {
    max-height: 0;
    visibility: collapse;
}

#stackImg {
    -fx-effect: dropshadow(three-pass-box, rgb(54, 48, 98), 10, 0, 0, 0);

}

/*  AdminFrame
---------------------------------------------------------------------------------------------------------------*/

#adminStackPane {
    -fx-background-color: FFFFFF;
}

#frameAdminBorder {
    -fx-background-color: FFFFFF;
}



.button {
    -fx-background-color: transparent;
    -fx-text-fill: black ;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


#btnadminLogout {
    -fx-background-color: transparent;
    -fx-border-color: #363062;
    -fx-text-fill: #363062 ;
    -fx-border-radius: 15px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
 #lblChangeProfilePicture, #lblChangePassword {
     -fx-text-fill: black ;
     -fx-font-size: 12px;
     -fx-font-weight: bold;
 }


/*  Admin Coordinators
---------------------------------------------------------------------------------------------------------------*/

.table-cell {
    -fx-alignment: CENTER;
}

#hBoxCoorAdminTop {
    -fx-background-color: white;
}

#txtSearchCoorAdmin {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-insets: 0;
}

#hBoxCoorAdminSec {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

#lblCoorAdmin {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#hBoxCoorAdminColor, #hboxCoorBottom {
    -fx-background-color: linear-gradient(to right, #f6f6f6, #F4E5FF);
}



#bordercoorAdmin {
    -fx-background-color: linear-gradient(to right, #f6f6f6, #F4E5FF);
}

#tblViewCoorAdmin .column-header-background .filler,
#tblViewCoorAdmin .column-header-background .column-header {
    -fx-background-color: transparent;
    -fx-background-color: white;
    -fx-border-color: transparent transparent rgba(0, 0, 0, 0.06) transparent;
    -fx-border-width: 0 0 1 0;

}

#invisbleTableColumnAdminUsersPage {
    -fx-padding: 20px;
}

#tblViewCoorAdmin .column-header .label {
    -fx-text-fill: #108CDC;
}


#tblViewCoorAdmin {
    -fx-table-cell-border-color: transparent;
}
#tblViewCoorAdmin:even {
    -fx-background-color: #ffffff;
}

#tblViewCoorAdmin:odd {
    -fx-background-color: #f2f2f2;
}

#btnRefreshCoor {
    -fx-background-color: #363062;
    -fx-text-fill: white;
}

/*  Admin: create Coordinator/Admin
---------------------------------------------------------------------------------------------------------------*/

#borderBackCreate {
    -fx-background-color: linear-gradient(to right, #f6f6f6, #F4E5FF);
}

#vBoxCenterCreate {
    -fx-background-color: white;
}

#lblEvenCoordinatorAdmin {

    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#hBoxAdminProfileCreate {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

#btnCreateCoordinator {
    -fx-background-color: #108CDC;
}

#lblFirstNameCreate, #lblEmailCreate, #lblLarstnameCreate, #lblPasswordCreate, #lblRoleCreate {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#lblAdminCreateNewCoordinator {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

#txtCreateFirstName, #txtCreateLastName, #txtCreateEmail, #txtCreatePassword {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}

#CreatecomboRole {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*  Admin: create Coordinator/Admin
---------------------------------------------------------------------------------------------------------------*/

#borderBackUpdate {
    -fx-background-color: linear-gradient(to right, #f6f6f6, #F4E5FF);
}

#vBoxCenterUpdate {
    -fx-background-color: white;
}

#lblEventCoordinatorAdminUpdate {

    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#hBoxAdminProfileUpdate {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

#btnUpdateCoordinator {
    -fx-background-color: #108CDC;
}

#btnDeleteUser {
    -fx-background-color: #FBBB2C;
}

#lblFirstNameUpdate, #lblEmailUpdate, #lblLarstnameUpdate, #lblPasswordUpdate, #lblRoleUpdate {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#lblAdminUpdateNewCoordinator {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

#UpdateFirstName, #txtUpdateLastName, #txtUpdateEmail, #txtUpdatePassword {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}

#UpdatecomboRole {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*  Admin: Manage Coordinator Events
---------------------------------------------------------------------------------------------------------------*/

#BPAdminManageCoor {
   -fx-background-color: #F5F5F5;

}

#vBoxCenterMangageCoorEvent {
    -fx-background-color:white;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

#txtSearchAdminManage {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #4D4C7D;
    -fx-prompt-text-fill: #4D4C7D;
    -fx-font-size: 14px;

}

#btnCreateCoordinatorHeader {
    -fx-background-color: transparent;
    -fx-border-color: #4D4C7D;
    -fx-border-radius: 15px;
}

#hBoxManageCoorEvent {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

#hBoxEventHead , #hBoxSearchHeaderAdmin {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
    -fx-background-radius: 15px;
}

#lblManageCoorHeader {
    -fx-text-fill: #4D4C7D;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

#btnAdminAddToEvent {
    -fx-background-color: #108CDC;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
}

#btnAdminCloseManage {
    -fx-border-color: #FBBB2C;
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-text-fill: #FBBB2C;
}

#comboAdminManageEvent, #comboAdminManageName {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #F9F9F9;
    -fx-border-color: transparent;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

#stackPictureAdminManage {
    -fx-border-color: #F9F9F9 ;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

/*  Admin Coordinators
---------------------------------------------------------------------------------------------------------------*/

.table-cell {
    -fx-alignment: CENTER;
}

#hBoxCoorAdminTop {
    -fx-background-color: white;
}

#txtSearchAdminEvents {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-insets: 0;
}

#hBoxeventsAdminSec {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

#lblEventsAdmin {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}


#borderEventsAdmin {
    -fx-background-color: linear-gradient(to right, #f6f6f6, #F4E5FF);
}

#tblViewAdminEvents .column-header-background .filler,
#tblViewAdminEvents .column-header-background .column-header {
    -fx-background-color: transparent;
    -fx-background-color: white;
    -fx-border-color: transparent transparent rgba(0, 0, 0, 0.06) transparent;
    -fx-border-width: 0 0 1 0;

}

#invisbleTableColumnAdmin {
    -fx-padding: 20px;
}


#tblViewAdminEvents .column-header .label {
    -fx-text-fill: #108CDC;
}

#tblViewAdminEvents {
    -fx-table-cell-border-color: transparent;
}
#tblViewAdminEvents:even {
    -fx-background-color: #ffffff;
}

#tblViewAdminEvents:odd {
    -fx-background-color: #f2f2f2;
}

#btnRefreshAdminEvents {
    -fx-background-color: #363062;
    -fx-text-fill: white;
}

/*  Admin InsertPicture
---------------------------------------------------------------------------------------------------------------*/

#BPLoadPicture {
    -fx-background-color: linear-gradient(to right, #f6f6f6, #F4E5FF);
}

#hboxInsertPictcureAdmin {
    -fx-background-color: White;
}

#hBoxChangePictureAdmin{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

#btnLoadPicture {
    -fx-background-color: #FBBB2C;
}

#btnInsertPicture {
    -fx-background-color: #108CDC ;
}

#lblChangePictureAdminHeader {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}


/* Coordinator - CreatePicturePageCoordinator
---------------------------------------------------------------------------------------------------------------*/

#borderPicturePageCoor {
    -fx-background-color: linear-gradient(to right, #f6f6f6, #F4E5FF);
}

#hboxCenter {
    -fx-background-color: white;
}

#hboxHeader {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

#lblHeader {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#btnCenterLeft {
    -fx-background-color: #FBBB2C;
}

#btnCenterRight {
    -fx-background-color: #108CDC ;
}


/* Coordinator - CoordinatorEventPage
---------------------------------------------------------------------------------------------------------------*/

#BPCoorEventPage {
    -fx-background-color: linear-gradient(to right, #f6f6f6, #F4E5FF);
}

#hboxTopCoorEventPage {
    -fx-background-color: white;
}

#txtTopCoorEventPage {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-insets: 0;
}

#btnCreateNewEvent {
    -fx-background-color: #108CDC;
    -fx-text-fill: white;
}

#hboxHeaderCreate {
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
    -fx-background-color: white;

}

#txtHeaderCoorEventPage {
    -fx-text-fill: #363062;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#tblEventTable .column-header-background .filler,
#tblEventTable .column-header-background .column-header {
    -fx-background-color: transparent;
    -fx-background-color: white;
    -fx-border-color: transparent transparent rgba(0, 0, 0, 0.06) transparent;
    -fx-border-width: 0 0 1 0;

}

#tblEventTable .column-header .label {
    -fx-text-fill: #108CDC;
}

#tblEventTable .column-header {
    -fx-min-height: 50px;
}


#btnRefreshCoorEvent {
    -fx-background-color: #363062;
    -fx-text-fill: white;

}

#invisbleTableColumn {
    -fx-padding: 20px;
}

#tblEventTable {
    -fx-table-cell-border-color: transparent;
}
#tblEventTable:even {
    -fx-background-color: #ffffff;
}

#tblEventTable:odd {
    -fx-background-color: #f2f2f2;
}

/* --------------------- CoordinatorManageEvents */
#BPCoordinatorManageEvents {
    -fx-background-color: linear-gradient(to right, #f6f6f6, #F4E5FF);
}

#vBoxCenterAdminMangageEvents {
    -fx-background-color:white;
}

#lblCoorManageHeader {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#btnCoordinatorsDropDown, #btnEventsDropDown {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#btnCoordinatorAddToEvent {
    -fx-background-color: #108CDC;
    -fx-text-fill: white;
}

#btnCoordinatorCloseManage {
    -fx-background-color: #FBBB2C;
}

#hBoxCoorManageEvent {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(10, 10, 10, 0.24), 10, 0, 0, 0);
}

#labelManageEventCoorAdmin {
    -fx-text-fill: #363062;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#labelManageEventCoorCoordinator {
    -fx-text-fill: #363062;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#imgProfilePictureAdmin {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

